<div class="margin-top"></div>
<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header darkgray">가입하기 <small>정 in the Kitchen</small></h2>
        </div>
    </div>
        <!-- /.row -->
<br/><br/>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
<!-- Register Form -->
<section>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="container">
                <%= f.label :name, "이름", class: "col-sm-4 control-label-right" %>
                <div class="col-sm-4">
                    <%= f.text_field :name, autofocus: true, class: "form-control" %>
                </div>
            </div>
            <br/>
            <div class="container"> 
              <%= f.label :email, "이메일", class: "col-sm-4 control-label-right" %>
              <div class="col-sm-4">
                  <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </div>
            </div>
            <br/>
            <div class="container"> 
              <%= f.label :password, "비밀번호", class: "col-sm-4 control-label-right" %><br/>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
              <div class="col-sm-4">
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              </div>
            </div>

            <div class="container"> 
              <%= f.label :password_confirmation, "비밀번호확인", class: "col-sm-4 control-label-right" %>
              <div class="col-sm-4">
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "col-sm-4 form-control" %>
              </div>
            </div>
            <div class="container">    
                <%= f.label :mobile, "연락처", class: "col-sm-4 control-label-right" %>
                <div class="col-sm-4">
                    <%= f.text_field :mobile, autofocus: true, class: "form-control" %>
                </div>
            </div>
            <br/>
            <div class="container"> 
                <label class="col-sm-4 control-label-right">관심분야</label>
                <div class="col-sm-4 control-label-left">
                    <div class="checkbox">
                    <label><input type="checkbox">성인 요리</label>
                    <label><input type="checkbox">어린이 요리</label>
                    </div>
                </div>
            </div>
            <br/>
            <form>
            <div class="container">
                <label class="col-sm-4"></label>
                <div class="col-sm-4 control-label-center"> 
                    <%= f.submit "가입하기", class: "btn btn-default" %>
                </div>
            </div>
            </form>
        </div>
    </form>
  <% end %>
</section>
<%= render "devise/shared/links" %>
