 <div class="margin-top"></div>
<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header darkgray">클래스 신청자 보기 <small>관리자 페이지</small></h2>
        </div>
    </div>
    <!-- /.row -->
<br/><br/>
 <div class="container bucket-container">
 <form action="/bucket/support_send/3" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="W39aDp62mvdpWrxGjcsF+WGqgwEztJuW68oH+7LyWpHh72ig0TdqHl7/uzKIEZZa4iUgoKyl0OjzwqB7ObvW4g==" />
     <div class="container">
      <div style="padding:10px 0px 50px">
          <div class="col-sm-3" style="text-align:left"><h4>class 이름</h4> </div>
          <div class="col-sm-2" style="text-align:left"><h4>신청자</h4></div>
          <div class="col-sm-2" style="text-align:left"><h4>전화번호</h4></div>
          <div class="col-sm-3" style="text-align:left"><h4>메일주소</h4></div>
          <div class="col-sm-2" style="text-align:left"><h4>신청완료</h4></div>
      </div>
      <hr>
    
            <div style="padding:10px 0px 50px">
              <div class="col-sm-3" style="text-align:left"><h4>요리책방 꼬르륵</h4> </div>
              <div class="col-sm-2" style="text-align:left"><h4>한예슬</h4></div>
              <div class="col-sm-2" style="text-align:left"><h4>010-000-0000</h4></div>
              <div class="col-sm-3" style="text-align:left"><h4>aaa@aaaa.com</h4></div>
              <div class="col-sm-2" style="text-align:left">
              <input type="checkbox" name="item_id[]" value="9"></input>
              </div>
             </div>      
            <div style="padding:10px 0px 50px">
              <div class="col-sm-3" style="text-align:left"><h4>class 이름</h4> </div>
              <div class="col-sm-2" style="text-align:left"><h4>신청자</h4></div>
              <div class="col-sm-2" style="text-align:left"><h4>전화번호</h4></div>
              <div class="col-sm-3" style="text-align:left"><h4>메일주소</h4></div>
              <div class="col-sm-2" style="text-align:left">
              <input type="checkbox" name="item_id[]" value="11"></input>
              </div>
             </div>      
      </div>
      
        <hr>
        <div>
        <input type="hidden" name="bucket_id" value="3"></input>
        <button type="submit" class="btn btn-default" role="button" data-confirm="확인 버튼을 누르면 후원이 완료되고, 류찬하님의 이메일로 fuller 보람 님의 이메일 주소가 전송됩니다.">신청완료</button>
        </div>
</form><br>
  </div> 