<div class="margin-top"></div>
<div class="container">
  <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header darkgray">CLASS 작성하기 <small>관리자 페이지</small></h2>
        </div>
    </div>
        <!-- /.row -->
<br/><br/>
<!-- Class Writing Form -->
<section>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="container">
                <label class="col-sm-12 control-label-left">class 이름</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="class 이름을 적어주세요">
                </div>
            </div>
            <br/>
            <div class="container"> 
                <label class="col-sm-12 control-label-left">간략한 설명</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="간략한 설명을 적어주세요">
                </div>
            </div>
            <br/>
            <div class="container">    
                <label class="col-sm-12 control-label-left">대표사진</label>
                <div class="col-sm-2">
                  <input type="file" name="thumbnail" accept="image/*">
                </div>
            </div>
            <br/>
            <div class="container"> 
                <label class="col-sm-12 control-label-left">class 소개 HTML 에디터 적용</label>
                <div class="col-sm-12">
                   <textarea class="form-control" rows="20" placeholder="HTML 에디터 적용." name="intro_detail" required></textarea>
                </div>
            </div>
            <br/>
            <div class="container">
                <label class="col-sm-4"></label>
                <div class="col-sm-4 control-label-center"> 
                <br/>
                    <button type="submit" class="btn btn-default">생성하기</button>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- /. Class Writing Form -->
</div>

