<div class="margin-top"></div>
<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row"><br/>
        <div class="col-sm-12">
            <h3 class="darkgray">PRIVATE CLASS<br><small>원하는 사람과 함께 원하는 시간에 원하는 요리를 배워볼 수 있는 맞춤식클래스입니다.</small></h3>
        </div>
    </div>
    <!-- /.row -->
<br/>
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-header darkgray">*현재 클래스 <small>PRIVATE CLASS</small></h4>
        </div>
    </div>
    <!-- /.row -->
    <!-- Heading Row -->
    <section>
        <div class="row">
            <div class="col-md-8">
                <a href="/jung/classplusnew"><img src="http://placehold.it/750x350" width="750" height="350" alt=""></a>
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h2>현대백화점에서</h2><br>
                <p> 안녕하세요?
                정 인 더 키친 성유정입니다.
                가을학기 수업이 서서히 마무리 되어가는데요.
                마지막 수업일인 19일에 브런치 특강과, 테이크 아웃해서 가져가시는 밑반찬 특강이 있어요.
                [출처] 대구쿠킹클래스-현대백화점에서 제 수업을 찾아보세요!^^|작성자 정인더키친
                </p><br/>
                <a class="btn btn-red-2" href="#">신청하기</a><br/><br/>
                <div class="btn-group" role="group">
                    <a class="btn btn-default" href="/jung/cawrite">현재 클래스 글쓰기</a>
                    <a class="btn btn-default">수정하기</a>
                    <a class="btn btn-default">삭제하기</a>
                </div>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </section>
    <br/>
    
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-header darkgray">*지난 클래스 <small>PRIVATE CLASS</small></h4>
        </div>
    </div>
    <!-- /.row -->
    <div class="control-label-right">
        <a href="/jung/cawrite" class="btn btn-default">지난 클래스 글쓰기</a>
    </div>
    <!-- Content Row -->
 
 <section>    
        <div class="row col-sm-12"><br>
            <div class="col-sm-4">
                <a href="/jung/classplusold"><img class="control-label-center" src="http://placehold.it/350x350" width="350" height="350"></a>
                <h2>현대백화점에서</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <div class="btn-group" role="group">
                    <a class="btn btn-default">수정하기</a>
                    <a class="btn btn-default">삭제하기</a>
                </div>
            </div>
            <!-- /.col-sm-4 -->

            <div class="col-sm-4">
                <a href="/jung/classplusold"><img class="control-label-center" src="http://placehold.it/350x350" width="350" height="350"></a>
                <h2>현대백화점에서</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <div class="btn-group" role="group">
                    <a class="btn btn-default">수정하기</a>
                    <a class="btn btn-default">삭제하기</a>
                </div>
            </div>
            <!-- /.col-sm-4 -->

            <div class="col-sm-4">
                <a href="/jung/classplusold"><img class="control-label-center" src="http://placehold.it/350x350" width="350" height="350"></a>
                <h2>현대백화점에서</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <div class="btn-group" role="group">
                    <a class="btn btn-default">수정하기</a>
                    <a class="btn btn-default">삭제하기</a>
                </div>
            </div>
            <!-- /.col-sm-4 -->
        </div>
        <!-- /.row col-sm-12 -->
    </section>
        
    <section>
        <!-- page  -->
        <div class="container">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 control-label-center">
                <nav class="margin-top-40">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-3"></div>
        </div><!--/.container-->
    </section>
</div>