<div class="margin-top"></div>
<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-header darkgray">현재 클래스 자세히보기 <small>성인 정규 클래스</small></h3>
        </div>
    </div>
    <!-- /.row -->
    <div class="control-label-right">
        <a href="/jung/cawrite" class="btn btn-default">수정하기</a>
    </div>
    <!-- /.control-label-right-->
<br/><br/>
  <!-- class contents -->
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 control-label-center">
      <h2>현재 클래스 제목</h2>
      <p>html 편집기 작성 내용</p>
      <p>html 편집기 작성 내용</p>
      <p>html 편집기 작성 내용</p>
      <p>html 편집기 작성 내용</p>
      <p>html 편집기 작성 내용</p>
      <p>html 편집기 작성 내용</p><br/>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
  <!-- /.row-->

  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 control-label-center">
     <a class="btn btn-default" href="#">뒤로가기</a> <a class="btn btn-red-2" href="#">신청하기</a> <br/><br/>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
  <!-- /.row-->

                  

    
    
