<div class="margin-top"></div>
<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header darkgray">신청완료 <small></small></h2>
        </div>
    </div>
    <!-- /.row -->
<br/><br/>
	<div class="row">
        <div class="col-sm-12 control-container-left">
            <h4>XX클래스 신청이 완료되었습니다.</h4>
            <p>계좌 입금부탁드립<br> 
            계좌번호 설명 설명설명</p>
        </div>
    </div>
</div>