<div class="margin-top"></div>
<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header darkgray">정 in the Garden <small>정 in the Kitchen</small></h2>
        </div>
    </div>
    <!-- /.row -->
<br/><br/>
    <!-- Project One -->
    <div class="row">
        <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x300" alt="">
        </a>
        </div>
        <div class="col-md-5">
            <h3>Project One</h3>
            <h4>Subheading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
        <!--버튼 없는게 더 낫지 않을까? 이미지 누르면 링크 걸려있으니까.
        <a class="btn btn-default" href="#">View Project </a>-->
        </div>
    </div>
    <!-- /.row -->
<br/>
    <!-- Project Two -->
    <div class="row">
        <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x300" alt="">
        </a>
        </div>
        <div class="col-md-5">
            <h3>Project One</h3>
            <h4>Subheading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
        <!--버튼 없는게 더 낫지 않을까? 이미지 누르면 링크 걸려있으니까.
        <a class="btn btn-default" href="#">View Project </a>-->
        </div>
    </div>
    <!-- /.row -->
<br/>
    <!-- Project Three -->
    <div class="row">
        <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x300" alt="">
        </a>
        </div>
        <div class="col-md-5">
            <h3>Project One</h3>
            <h4>Subheading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
        <!--버튼 없는게 더 낫지 않을까? 이미지 누르면 링크 걸려있으니까.
        <a class="btn btn-default" href="#">View Project </a>-->
        </div>
    </div>
    <!-- /.row -->