<div class="margin-top"></div>
<div class="container">
<div class="container-fluid">
  <div class="row">
    <div class="embed-responsive embed-responsive-16by9" > 
     <iframe class="opacity" src="http://www.youtube.com/embed/auZqfBzZplo?controls=0&version2&autoplay=1&loop=1&showinfo=0&modestbranding=1&autohide=1" frameborder="0" autofullscreen></iframe>  
       <div class="row home-search-wrap">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4 control-label-center">
         <div>
            <span class="input-group-btn">
              <a class="btn btn-red-1 btn-lg" href="/jung/class1">클래스 신청하기</a>
            </span>
          </div>
          </div>
          <div class="col-sm-4">
          </div>
      </div>
    </div>
  </div>
</div>
 
    <br/><br/><br/><br/>
    <section>
    <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="/jung/class1">
                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
                </a>
                <h3>
                    <a href="/jung/class1">성인 정규 클래스</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="/jung/class2">
                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
                </a>
                <h3>
                    <a href="/jung/class2">성인 원데이 클래스</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
             <div class="col-md-3 portfolio-item">
                <a href="/jung/class3">
                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
                </a>
                <h3>
                    <a href="/jung/class3">요리책방 꼬르륵</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
             <div class="col-md-3 portfolio-item">
                <a href="/jung/class4">
                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
                </a>
                <h3>
                    <a href="/jung/class4">주니어 클래스</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->
    </section>
    
    </div>
</div>
</div>


