<div class="margin-top"></div>
<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header darkgray">Intro <small>정 in the Kitchen</small></h2>
        </div>
    </div>
    <!-- /.row -->
<br/><br/>
    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col-sm-12">
            <img class="img-responsive" width="100%" src="http://placehold.it/1280x300" alt="">
        </div>

    </div>
    <br/><br/>
    <div class="row">
        <div class="col-sm-12 control-container-left">
            <h4>정 인 더 키친은 ‘정이 넘치는 부엌’이라는 뜻입니다.</h4>
            <p>2008년, 어느 아파트의 5평 작은 주방에서부터 시작된 요리에 대한 열망은 지속적으로 이어져 오늘날의 정 인 더 키친을 탄생하게 하였습니다.<br> 
            바쁜 일상속에서 질좋은 재료로 정성껏 요리한 음식을 누군가와 함께 나누어 먹을 때의 행복을 함께 나누고 싶은 ‘정 인 더 키친’은, 어린이부터 어른까지 나이와 성별을 구분하지 않고 누구나 즐겁게 요리할 수 있는 곳이며, 여러분들의 식탁에 사랑과 정을 듬뿍 담아 올릴 수 있는 특별한 경험을 할 수 있도록 늘 가까이 하고자 합니다.</p>
        </div>
    </div>
    <!-- /.row -->
</div>


