<div class="margin-top"></div>
<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header darkgray">로그인 <small>정 in the Kitchen</small></h2>
        </div>
    </div>
    <!-- /.row -->
<br/><br/>

<!-- Login Form -->
<form class="form-horizontal">
    <div class="container"> 
        <label class="col-sm-4 control-label-right">아이디</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="E-mail">
        </div>
    </div>
    <br/>
    <div class="container">    
        <label class="col-sm-4 control-label-right">비밀번호</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" placeholder="********">
        </div>
    </div>
    <br/>
    <form>
    <div class="container"> 
        <label class="col-sm-4 control-label-right"></label>
        <div class="col-sm-4 control-label-center">
            <div class="checkbox">
            <label><input type="checkbox">로그인 유지</label><br/>
            <p></p>
            <a class="btn btn-default">로그인</a>
            </div>
        </div>
    </div>
    </form>
    <br/><br/><br/><br/>
</form> 
<!-- /.Login Form -->

<div class="container control-label-center">
    <p><a href="/jung/register">회원가입</a> | <a href="">이메일 찾기</a> | <a href="">아이디 찾기</a></p>
</div>