<div class="margin-top"></div>
<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header darkgray">신청한 클래스 <small>my page</small></h2>
        </div>
    </div>
    <!-- /.row -->
<br/><br/>
     <section>
    <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
             <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
             <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->
    </section>
    
    <!-- /.row -->
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header darkgray">내정보 수정하기 <small>my page</small></h2>
        </div>
    </div>
    <!-- /.row -->
    <br/><br/>
    <!-- Modify Form -->
    <form class="form-horizontal">
    <div class="form-group">
        <div class="container">
            <label class="col-sm-4 control-label-right">이름</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Name">
            </div>
        </div>
        <br/>
        <div class="container"> 
            <label class="col-sm-4 control-label-right">이메일</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="E-mail">
            </div>
        </div>
        <br/>
        <div class="container">    
            <label class="col-sm-4 control-label-right">연락처</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="010-0000-0000">
            </div>
        </div>
        <br/>
        <div class="container"> 
            <label class="col-sm-4 control-label-right">관심분야</label>
            <div class="col-sm-4 control-label-left">
                <div class="checkbox">
                <label><input type="checkbox">성인 요리</label>
                <label><input type="checkbox">어린이 요리</label>
                </div>
            </div>
        </div>
        <br/>
        <form>
        <div class="container">
            <label class="col-sm-4"></label>
            <div class="col-sm-4 control-label-center"> 
                <a class="btn btn-default">수정하기</a>
            </div>
        </div>
        </form>
    </div>
</form>
<!-- /. Register Form -->


</div>

