<div class="margin-top"></div>
<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header darkgray">가입하기 <small>정 in the Kitchen</small></h2>
        </div>
    </div>
        <!-- /.row -->
<br/><br/>

<!-- Register Form -->
<section>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="container">
                <label class="col-sm-4 control-label-right">이름</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
            </div>
            <br/>
            <div class="container"> 
                <label class="col-sm-4 control-label-right">이메일</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="E-mail">
                </div>
            </div>
            <br/>
            <div class="container">    
                <label class="col-sm-4 control-label-right">연락처</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="010-0000-0000">
                </div>
            </div>
            <br/>
            <div class="container"> 
                <label class="col-sm-4 control-label-right">관심분야</label>
                <div class="col-sm-4 control-label-left">
                    <div class="checkbox">
                    <label><input type="checkbox">성인 요리</label>
                    <label><input type="checkbox">어린이 요리</label>
                    </div>
                </div>
            </div>
            <br/>
            <form>
            <div class="container">
                <label class="col-sm-4"></label>
                <div class="col-sm-4 control-label-center"> 
                    <a class="btn btn-default">가입하기</a>
                </div>
            </div>
            </form>
        </div>
    </form>
</section>
<!-- /. Register Form -->
