<div class="margin-top"></div>
<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header darkgray">로그인 <small>정 in the Kitchen</small></h2>
        </div>
    </div>
    <!-- /.row -->
<br/><br/>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!-- Login Form -->
<form class="form-horizontal">
    <div class="container"> 
        <!-- <label class="col-sm-4 control-label-right">아이디</label> -->
        <%= f.label :email, "이메일", class: "col-sm-4 control-label-right" %>
        <div class="col-sm-4">
            <!-- <input type="text" class="form-control" placeholder="E-mail"> -->
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
    </div>
    <br/>
    <div class="container">    
        <%= f.label :password, "비밀번호", class: "col-sm-4 control-label-right" %>
        <div class="col-sm-4">
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
    </div>
    <br/>
    <div class="container"> 
        <label class="col-sm-4 control-label-right"></label>
        <div class="col-sm-4 control-label-center">
          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "로그인 유지" %>
            </div>
          <% end -%>
        <div class="actions">
          <%= f.submit "로그인", class: "btn btn-default" %>
        </div>
      <% end %>
        </div>
    </div>
    <br/><br/><br/><br/>
</form> 
<!-- /.Login Form -->

<div class="container control-label-center">
    <p><%= render "devise/shared/links" %></p>
</div>
