.margin-top-40{
    margin-top: 40px
}
.home-search-wrap{
  position: absolute;
  bottom:0;
  right:0;
  padding-top:20px;
  padding-bottom:40px;
}
/*----*/

.btn-red-1,
.btn-red-2{
    color:#B50000;
    background-color: rgba(255, 255, 255, 0);
    border-color: #B50000;
    text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    border-width: 1.5px;

}
.btn-red-1:hover{
    color:#FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    border-color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    border-width: 1.5px;
}
.btn-red-2:hover{
    color:#B50000;
    background-color: rgba(255, 255, 255, 0);
    border-color: #B50000;
    text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    border-width: 1.5px;
}

.btn-default{
    text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}

.btn-default:hover{
    background-color:#FFFFFF;
    text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}


.opacity{
    opacity:0.8;
}
.home-search-wrap{
  position: absolute;

/*  padding-top:20px;
  padding-bottom:20px;*/
}
.square{
    width: 20px;
    height: 20px;
}
.gray{
    color:#969696;
}
.darkgray{
    color:#3a3a3a;
}

.relatvie{
    position: relative;
}
.control-label-center{
    text-align:center;
}
.control-label-left{
    text-align:left;
}
.control-label-right{
    text-align:right;
}

.margin-top{
    height: 30px;
}
#fullscreen-wrap{
  margin-top : 20px;
}
/*nav bar*/


/*nav bar end */


.home-introduction-sentence{
    top: "70%";
    margin:0 auto;
    display: inline-block;
    vertical-align: middle;
    z-index:1;
}

.btn-class{ 
    width: 8em;
    height: 2em;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: 700;
    color :rgba(162, 0, 0, 1); 

    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 2px solid rgba(162, 0, 0, 1);
    border-radius: 1px;
}
.btn-class:focus, .btn-class:hover {
    text-decoration: none;
    border: 2px solid white;
    color: white;
}
.btn-class:active {
    outline: 0;
        border: 2px solid white;
    color: white;
}
.portfolio-item {
    margin-bottom: 25px;
}