<!DOCTYPE html>
<html>
<head>

  <title>정 in the Kitchen</title>

 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//app/assets/stylesheets/home.css">

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" id="navbar">
      <div class="container topnav">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" 
data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="/">
              <!--<img src="http://ifnill.com/assets/logo_white-b3c675ca6fe9acb48264c9e12f1779fee7abbbd15982c3a51fc9145f8db3882a.png" height="30px">-->
              <h3 style="margin-top : 5px">정 In The Kitchen</h3>
              </a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/jung/intro">INTRO</a></li>
                <li><a href="#">CALENDER</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CLASS <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/jung/class1">성인 정규 클래스</a></li>
                    <li><a href="/jung/class2">성인 원데이 클래스</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/jung/class3">요리책방 꼬르륵</a></li>
                    <li><a href="/jung/class4">주니어 클래스</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/jung/class5">PRIVAE CLASS</a></li>
                  </ul>
                 </li>
                <li><a href="/jung/garden">정 In The Garden</a></li>
                <li><a href="/users/sign_in">로그인</a></li>
                <% if current_user.nil? %>
                  <li>
                    <%= link_to 'Sign in', new_user_session_path %>
                  </li>
                  <% else %>
                  <li <% if params[:controller]=='mypage'%> class="active" <%end%> >
                  <a href="/mypage/mypage">My Page</a>
                  </li>

                  <li>
                      <%= link_to '로그아웃', destroy_user_session_path, method: :delete %>
                  </li>
                  
                  <% end %>
              </ul>
            </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        </div>
      </div>
  </nav>
  
  <!-- devise flash message -->
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

<%= yield %>
<!--footer-->
<div class="container">
    <section>
    <br/><br/><br/><br/><br/><br/><br/><br/> <br/><br/>  <br/><br/> 
        <div class="container col-sm-12 row">
            <div class="gray control-label-left">
                    <p>정이 넘치는 부엌</p>
                    <h4>정 in the Kitchen</h4>
                    <h6>
                    <a href="http://blog.naver.com/corluck"><img class="square" src="https://lh4.ggpht.com/LgVIzIKFwA6PqUq3p6FJoS41c0ZC0z0Xvu6O_pMNnNIUNjnUh1Bld3A4V2FSw8QChpE=w300"></a>
                    <a href="#"><img class="square" src="https://dev.kakao.com/assets/img/about/buttons/kakaostory/icon/pc/story_pc_16x16.png"></a>
                    <a href="https://instagram.com/jung_kitchen/"><img class="square" src="http://centerstageboca.com/wp-content/uploads/2015/06/Instagram-logo.png"></a>
                    </h6>
                    <h6> 대표 성유정  | 주소 대구시 수성구 상동 66-7  | 전화 053.767.0611  | 이메일 corluck@naver.com  |  <a href="/jung/policy"><strong>환불 및 취소 정책</strong></a>  |  ©정인더키친  </h6>
                </div>
            <br/><br/>    
    </section>
   </div>
    <!--/.footer-->
</body>
</html>
